<template>
  <v-app app>
    <v-container class="fill-height">
      <v-row class="fill-height pb-14" align="end">
        <v-col>
          <div
            v-for="(item, index) in chat"
            :key="index"
            :class="[
              'd-flex flex-row align-center my-2',
              item.from == 'user' ? 'justify-end' : null,
            ]"
          >
            <span v-if="item.from == 'user'" class="blue--text mr-3">{{
              item.msg
            }}</span>
            <v-avatar v-if="item.from != 'user'">
              <img
                :src="`https://img.123video.xyz/display?w=${imagesize}&h=${imagesize}&path=${item.imgid}&op=thumbnail`"
                alt="John"
              />
            </v-avatar>
            <v-avatar
              v-else
              :color="item.from == 'user' ? 'indigo' : 'red'"
              size="36"
            >
              <span class="white--text">{{ item.from[0] }}</span>
            </v-avatar>

            <span v-if="item.from != 'user'" class="blue--text ml-3">{{
              item.msg
            }}</span>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-footer fixed>
      <v-container class="ma-0 pa-0">
        <v-row no-gutters>
          <v-col cols="12" md="2"></v-col>

          <v-col>
            <div class="d-flex flex-row align-center">
              <v-text-field
                v-model="askmsg"
                :placeholder="`Kirjoita.. ${getSelectedImg.name}  Odottaa!!`"
                @keypress.enter="send"
              ></v-text-field>
              <v-btn icon class="ml-4" @click="send">
                <v-icon>mdi-send</v-icon>
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
    <footer id="footer"></footer>
  </v-app>
</template>


<script>
import VueScrollTo from "vue-scrollto";
import { mapGetters } from "vuex";

export default {
  name: "Chat",

  data: () => ({
    selectedImg: {},
    chat: [],
    ansmsg: null,
    askmsg: null,
  }),
  mounted() {},
  methods: {
    send: function () {
      console.log(this.getAskmsg);
      this.$gtag.event('dialog', { method: 'ask' })

      if (this.getAskmsg !== this.askmsg) {
        this.chat.push({
          from: "user",
          msg: this.askmsg,
        });
        this.$store.dispatch("Chat/setAskMsg", this.askmsg);
        this.askmsg = null;
      } else {
       
        this.chat.push({
          from: "robot",
          msg: "??????",
          imgid: this.getSelectedImg.id,
        });
      }

    },
    addReply() {
      var id = this.getSelectedImg.id;

      this.chat.push({
        from: "robot",
        msg: this.ansmsg,
        imgid: id,
      });
      this.ansmsg = null;
      VueScrollTo.scrollTo("#footer");
    },
  },

  computed: {
    ...mapGetters({
      getSelectedImg: "Common/getSelectedImg",
      getAskmsg: "Chat/getAskmsg",
      getAnswermsg: "Chat/getAnswermsg",
    }),
    imagesize() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "150";
        case "sm":
          return "200";
        case "md":
          return "250";
        case "lg":
          return "300";
        case "xl":
          return "400";
      }
      return "120";
    },
  },

  created() {
    var self = this;
    this.$store.watch(
      (state) => state.Chat.answermsg,
      function (value) {
        self.ansmsg = value;
        self.addReply();
      }
    );
  },
};
</script>
