<template>
  <v-row>
    <v-col cols="12" sm="6" offset-sm="3">
      <v-card>
        <v-toolbar flat>
          <v-btn icon @click="back()">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title>On line</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </v-toolbar>
        <!-- <v-subheader>May</v-subheader> -->
        <v-container fluid>
          <v-row>
            <v-col v-for="item in results" :key="item.id" cols="4">
              <v-img
                @click="dialoghandler(item)"
                :src="`https://img.123video.xyz/display?w=250&h=250&path=${item.id}&op=thumbnail`"
                aspect-ratio="1"
                >{{ item.age }}v</v-img
              >
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">{{
          selecteditem.name
        }}</v-card-title>

        <v-img
          @click="closedialog()"
          :src="`https://apiv0.123video.xyz/orgimg/${selecteditem.id}`"
        ></v-img>

        <v-card-text
          >{{ selecteditem.age }}v {{ selecteditem.city }}</v-card-text
        >

        <v-divider></v-divider>
      </v-card>
    </v-dialog>
   
  </v-row>
</template>


<script>
// import { mapState } from "vuex";
export default {
  name: "GalleryImages",

  data: () => ({
    results: [],
    reststatus: {},
    dialog: false,
    selecteditem: {},
    snackbar: false,
  }),
  beforeMount() {
    this.$store.dispatch("Galleryimages/getimages", true);
  },
  mounted() {},
  methods: {
    back() {
      this.$store.dispatch("Common/setMenu", "HelloWorld");
    },

    dialoghandler(item) {
      this.dialog = true;
      this.selecteditem = item;
    },
    closedialog() {
      this.$store.dispatch("Common/setSelectedImg", this.selecteditem);

      this.dialog = false;
      this.back();
    },
    deleteLocalImg(id) {
      for (var i = 0; i < this.results.length; i++) {
        if (this.results[i].id === id) {
          this.results.splice(i, 1);
          i--;
        }
      }
    },
  },

  created() {
    var self = this;
    this.$store.watch(
      (state) => state.Galleryimages.galleryimgs,
      function (value) {
        self.results = value;
      }
    );
  },
};
</script>
