<template>
  <div>
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item link @click="changeMenu('HelloWorld')">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Chatti</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="changeMenu('GalleryImages')">
          <v-list-item-action>
            <v-icon>mdi-account-multiple</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Nyt online</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item  v-if=historyOK link @click="changeMenu('History')">
          <v-list-item-action>
            <v-icon>mdi-book-open-page-variant</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Historia</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="mr-auto"></v-toolbar-title>
      <!-- <v-btn  v-if=historyOK x-small rounded class="red">Historia</v-btn> -->
      <v-card
        v-if="menu === 'HelloWorld' && loaded"
        color="indigo"
        class="mt-auto"
        max-width="400"
      >
        <v-img
          v-if="menu === 'HelloWorld' && loaded"
          alt="Vuetify Logo"
          class="shrink mt-auto"
          contain
          :src="`https://img.123video.xyz/display?w=${imagesize}&h=${imagesize}&path=${selectedImg.id}&op=thumbnail`"
        >
          <v-card-title>{{ selectedImg.name }}</v-card-title>
        </v-img>

        <v-card-actions>
          <v-btn :href="`${phonelink}`" rounded class="red"
            >ph: {{ selectedImg.phone }}</v-btn
          >
        </v-card-actions>
      </v-card>

      <v-toolbar-title class="ml-auto">
        {{ selectedImg.name }} {{ selectedImg.age }}v
        <br />
        {{ selectedImg.city }}
      </v-toolbar-title>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: "Head",

  data: () => ({
    drawer: null,
    menu: "HelloWorld",
    selectedImg: {},
    loaded: false,
    historyOK: false,
    history: [],
  }),
  mounted() {},
  methods: {
    changeMenu(menu) {
      this.menu = menu;
      this.drawer = !this.drawer;
      this.$store.dispatch("Common/setMenu", menu);
      if (this.menu == "History") {
        this.$store.dispatch("History/getHistory", true);
      }
    },
  },

  computed: {
    imagesize() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "150";
        case "sm":
          return "200";
        case "md":
          return "250";
        case "lg":
          return "300";
        case "xl":
          return "400";
      }
      return "120";
    },
    phonelink() {
      return "tel:" + this.selectedImg.phone;
    },
  },

  created() {
    var self = this;
    this.$store.watch(
      (state) => state.Common.loaded,
      function (value) {
        self.loaded = value;
      }
    );
    this.$store.watch(
      (state) => state.Common.selectedImg,
      function (value) {
        self.selectedImg = value;
      }
    );
    this.$store.watch(
      (state) => state.Common.menu,
      function (value) {
        self.menu = value;
      }
    );
    this.$store.watch(
      (state) => state.Head.history,
      function (value) {
        console.log("watch history", value);
        self.history = value;
 
      }
    );
      this.$store.watch(
      (state) => state.History.historyOK,
      function (value) {
        console.log("watch historyOK", value);
        self.historyOK = value;
 
      }
    );
  },
};
</script>