<template>
  <v-app>
    <v-main>
      <Head />
      <Chat v-show="menu === 'HelloWorld'" />
      <GalleryImages v-show="menu === 'GalleryImages'" />
      <History v-show="menu === 'History'" />
    </v-main>
  </v-app>
</template>

<script>
import VueCookies from "vue-cookies";
import { v4 as uuidv4 } from "uuid";
import ReconnectingWebSocket from "reconnecting-websocket";

import Head from "./components/Head";
import GalleryImages from "./components/GalleryImages";
import Chat from "./components/Chat";
import History from "./components/History";

import { mapGetters } from "vuex";

export default {
  name: "App",

  components: {
    Head,
    GalleryImages,
    Chat,
    History,
  },

  data: () => ({
    menu: "HelloWorld",
    host: "",
  }),
  beforeMount() {
    this.host = location.host;
    console.log(this.host);
    // this.$gtag.config('G-QJ2XKT0YEJ')
    // this.$store.dispatch("setHost", location.host)
    if (!VueCookies.isKey("nguidv3")) {
      VueCookies.set("nguidv3", uuidv4(), Infinity);
      this.nguid = VueCookies.get("nguidv3");
    } else {
      this.nguid = VueCookies.get("nguidv3");
    }

    this.ws = new ReconnectingWebSocket(
      this.$store.state.wsserverurl + this.nguid
    );
  },
  mounted() {
    console.log("NODE_ENV", process.env.NODE_ENV);
    console.log("wsserverurl", this.$store.state.wsserverurl);

    var self = this;

    this.ws.addEventListener("open", function () {
      self.ws.send(
        JSON.stringify({
          nguid: self.nguid,
          type: "open",
        })
      );
    });

    this.ws.addEventListener("message", function (e) {
      var msg = JSON.parse(e.data);
      var payload = JSON.parse(msg.payload);
      if (msg.type === "open") {
        self.$store.dispatch("Common/setSelectedImg", payload);
        self.$store.dispatch("Common/setLoaded", true);
      }
      if (msg.type === "sendimgs") {
        console.log("sendimgs");
        self.$store.dispatch("Galleryimages/setGalleryImgs", payload);
        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "passive",
          })
        );
      }
      if (msg.type === "start") {
        self.$store.dispatch("Chat/setAnswerMsg", payload);

        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "start",
            img: self.getSelectedImg,
          })
        );
      }
      if (msg.type === "answer") {
        self.$store.dispatch("Chat/setAnswerMsg", payload);

        console.log(self.getAnswermsg);
        console.log(self.getAskmsg);

        var obj = new Object();
        obj.lastask = self.getAskmsg;
        obj.lastanswer = self.getAnswermsg;

        var msgstr = JSON.stringify(obj);
        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "answer",
            message: msgstr,
          })
        );
      }
      if (msg.type === "ads") {
        // console.log("ads", payload);
        payload = self.makeads(payload.answer);
        self.$store.dispatch("Chat/setAnswerMsg", payload);
        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "ads",
          })
        );
      }

      if (msg.type === "oldclient") {
        self.$store.dispatch("Common/setSelectedImg", payload.img);
        self.$store.dispatch("Chat/setAnswerMsg", payload);

        console.log("oldclient", payload);

        if (payload.historyok) {
          self.$store.dispatch("History/historyOK", true);
        }

        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "oldclient",
          })
        );
      }
      if (msg.type === "newclient") {
        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "newclient",
          })
        );
      }

      if (msg.type === "newimg") {
        self.$store.dispatch("History/historyOK", true);
        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "newimg",
          })
        );
      }

      if (msg.type === "gethistory") {
        console.log("gethistory");

        self.$store.dispatch("History/setHistory", payload);

        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "historyok",
          })
        );
      }
    });
  },

  methods: {
    changeMenu(menu) {
      this.menu = menu;
      this.drawer = !this.drawer;

      if (this.menu === "GalleryImages") {
        this.$store.dispatch("Common/setMenu", menu);
        this.ws.send(
          JSON.stringify({
            type: "sendimages",
          })
        );
      }
    },
    makeads(answer) {
      var ads = answer
        .replace("{{name}}", this.getSelectedImg.name)
        .replace("{{phone}}", this.getSelectedImg.phone);
      var payload = { answer: ads };

      return payload;
    },
  },
  computed: {
    ...mapGetters({
      getSelectedImg: "Common/getSelectedImg",
      getAskmsg: "Chat/getAskmsg",
      getAnswermsg: "Chat/getAnswermsg",
    }),
  },

  created() {
    var self = this;

    this.$store.watch(
      (state) => state.History.gethistory,
      function (value) {
        console.log("gethistory", value);
        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "gethistory",
          })
        );
      }
    );

    this.$store.watch(
      (state) => state.Chat.askmsg,

      function (value) {
        self.ws.send(
          JSON.stringify({
            nguid: self.nguid,
            type: "ask",
            message: value,
          })
        );
      }
    );

    this.$store.watch(
      (state) => state.Common.menu,
      function (value) {
        self.menu = value;
        if (value === "GalleryImages") {
          self.ws.send(
            JSON.stringify({
              nguid: self.nguid,
              type: "sendimgs",
            })
          );
        }
        if (value === "HelloWorld") {
          self.ws.send(
            JSON.stringify({
              nguid: self.nguid,
              type: "addhistory",
              message: self.getSelectedImg.id,
            })
          );
        }
      }
    );
  },
};
</script>
<style>
#app {
  font-family: "Indie Flower", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
